.top-bar{
    -fx-background-color: #154360 ;
    background-color: #154360 ;
}

.body{
    -fx-background-color: #1F618D ;
    background-color: #1F618D ;
}

.error-msg{
    -fx-fill: #e73333;
    fill: #e73333;
}

#exit-btn{
    -fx-background-color: #10374e;
    background-color: #10374e;
    -fx-background-radius: 0;

}

#exit-btn:hover{
    -fx-background-color: #cc1818;
    background-color: #cc1818;
}

#submit-btn{
    -fx-background-color: #82E0AA;
    background-color: #82E0AA;
}

#submit-btn:hover{
    -fx-background-color: #14ae8f;
    background-color: #14ae8f;
}

#hide-btn{
    -fx-background-color: #10374e;
    background-color: #10374e;
    -fx-background-radius: 0;
}

#hide-btn:hover{
    -fx-background-color: #1a4e71;
    background-color: #1a4e71;
}

#redirect-href{
    -fx-underline: false;
    -fx-text-fill: #2993d4;
}

#redirect-href:hover{
    -fx-underline: false;
    -fx-text-fill: #52a9df;
}

